.root {
/*    -fx-base-color: #3a0ca3;*/
/*    -fx-secondary-color: #7209b7;*/
/*    -fx-aspect-color: #4361ee;*/
/*    -fx-secondary-aspect-color: #4cc9f0;*/
/*    -fx-additional-color: #f72585;*/
/*    -fx-font-color: #ddd;*/

    -fx-base-color: #e6e8e6;
    -fx-secondary-color: #ced0ce;
    -fx-aspect-color: #4189e8;
    -fx-secondary-aspect-color: #4797ff;
    -fx-additional-color: #bbbcbb;
    -fx-font-color: #191919;
    -fx-light-font-color: #ddd;

    -fx-background-color: -fx-base-color;
}

/* ALERTS */

.dialog-pane .label {
    -fx-text-fill: -fx-font-color;
}

.dialog-pane .header-panel,
.dialog-pane .graphic-container,
.dialog-pane .content,
.dialog-pane .button-bar {
    -fx-background-color: transparent;
}

/* GENERAL */

.menu {
    -fx-padding: 20px;
    -fx-alignment: center;
}

.title {
    -fx-padding: 0 100px 10px;

    -fx-fill: -fx-font-color;

    -fx-font-size: 2.5em;
    -fx-font-weight: bold;
    -fx-underline: true;
}

.subtitle {
    -fx-fill: -fx-font-color;

    -fx-font-size: 1em;
}

.button {
    -fx-padding: 5px 10px;
    -fx-border-radius: 15px;

    -fx-background-color: -fx-aspect-color;
    -fx-text-fill: -fx-light-font-color;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.5, 2, 2);

    -fx-font-size: 1.2em;
}

.button:hover {
    -fx-background-color: -fx-secondary-aspect-color;

    -fx-cursor: hand;
}

.button .ikonli-font-icon {
    -fx-icon-color: -fx-light-font-color;

    -fx-font-size: 1.4em;
}

.menu-button {
    -fx-pref-width: 200px;
    -fx-padding: 10px 20px;

    -fx-font-weight: bold;
}

/* PANELS */

.panel-header {
    -fx-padding: 10px 5px;
}

.panel-header .title {
    -fx-font-size: 1.5em;
    -fx-underline: false;
}

/* COMPARER PANEL */

.comparer-path-panel {
    -fx-padding: 10px 5px;
}

.comparer-path-panel .comparer-path {
    -fx-background-color: -fx-secondary-color;
    -fx-text-fill: -fx-font-color;

    -fx-font-size: 1.2em;
}

.comparer-state-panel {
    -fx-padding: 0 0 0 5px;
}

.comparer-state-panel .text-element {
    -fx-fill: -fx-font-color;

    -fx-font-size: 1.2em;
    -fx-font-weight:bold;
}

.comparer-state-panel .value {
    -fx-fill: -fx-font-color;

    -fx-font-size: 1.2em;
}

.comparer-state-panel .progress-bar {
    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 5px;
    -fx-accent: -fx-aspect-color;
}

.comparer-state-panel .progress-bar .track {
    -fx-background-color: transparent;
}

.tray {
    -fx-padding: 5px;
}

.tray .tray-item {
    -fx-padding: 5px;

    -fx-background-color: -fx-secondary-color;
    -fx-background-radius: 10px;
}

.tray .tray-item .text-element {
    -fx-fill: -fx-font-color;

    -fx-font-size: 1.2em;
}

.tray .tray-item .tray-textfield {
    -fx-alignment: center;

    -fx-background-color: transparent;
    -fx-text-fill: -fx-font-color;

    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.default-color0.chart-pie {
    -fx-pie-color: #a5d6a7;
}

.default-color1.chart-pie {
    -fx-pie-color: #ffcc80;
}

.comparer-output-panel {
    -fx-padding: 5px;
}

.comparer-output-panel .tab-header-area {
    -fx-border-width: 0 0 3px 0;
    -fx-border-style: solid;
    -fx-border-color: -fx-secondary-color;
}

.comparer-output-panel .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.comparer-output-panel .tab {
    -fx-padding: 5px;

    -fx-background-color: transparent;

    -fx-border-width: 0 0 3px 0;
    -fx-border-style: solid;
    -fx-border-color: transparent;
}

.comparer-output-panel .tab:hover {
    -fx-background-color: -fx-secondary-color;

    -fx-border-color: -fx-secondary-color;

    -fx-cursor: hand;
}

.comparer-output-panel .tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.comparer-output-panel .tab:selected {
    -fx-border-color: -fx-aspect-color;
}

.comparer-output-panel .tab .tab-label {
    -fx-text-fill: -fx-font-color;
}

.comparer-output-panel .tab:selected .tab-label {
    -fx-font-weight: bold;
}

.comparer-output-panel .tab-content-area {
    -fx-background-color: -fx-base-color;
}

.list-view {
    -fx-background-color: transparent;
}

.list-view .list-cell {
    -fx-padding: 10px;

    -fx-background-color: -fx-base-color;

    -fx-border-width: 2px 0;
    -fx-border-style: solid;
    -fx-border-color: -fx-secondary-color;

    -fx-text-fill: -fx-font-color;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
}

.list-view .thumb {
    -fx-background-color: -fx-additional-color;
}

.list-view .scroll-bar .increment-button,
.list-view .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-text-fill: transparent;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}
